@model IEnumerable<Domain.DomainModels.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>My Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>User Email</th>
            <th>Tickets</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.User.Email</td>
            <td>
                @foreach (var ticket in item.Tickets)
                {
                <p>Seat: @ticket.Seat, Hall: @ticket.MovieProjection.Hall, DateTime: @ticket.MovieProjection.DateTime, Movie: @ticket.MovieProjection.Movie.Title, Price: @ticket.Price</p>
                }
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                <a asp-action="CreateInvoice" asp-route-id="@item.Id" class="btn btn-info">Create Invoice</a>
            </td>
        </tr>
}
    </tbody>
</table>
